{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>QSIC | {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
  <link rel="stylesheet" href="{% static 'css/foundation-icons/foundation-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'css/qsic.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/vendor/modernizr.min.js"></script>

  {% block extra_head %}{% endblock extra_head %}
</head>
<body>
{% block body_content %}
  {% block header %}
    <!-- Navigation -->
    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <ul class="title-area">
          <!-- Title Area -->
          <li>
            <a href="{% url 'qsic:index' %}" id="root_link">
              <span class="show-for-medium-up">
                The Queen's Secret Improv Club
              </span>
              <span class="show-for-small">
                QSIC
              </span>
            </a>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
      </section>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li>
            <a data-dropdown="nav_dropdown_shows" data-options="is_hover:true" href="#">Shows</a>
            <ul id="nav_dropdown_shows" class="tiny f-dropdown" data-dropdown-content>
              <li><a href="{% url 'qsic:up_next' %}">Up Next at QSIC!</a></li>
              <li><a href="{% url 'qsic:current_week' %}">Shows By Week</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li>
            <a data-dropdown="nav_dropdown_performers" data-options="is_hover:true" href="#">Performers</a>
            <ul id="nav_dropdown_performers" class="f-dropdown" data-dropdown-content>
              <li><a href="{% url 'qsic:performers_current' %}">Current Performers</a></li>
              <li><a href="{% url 'qsic:performers_past' %}">Past Performers</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li>
            <a data-dropdown="nav_dropdown_teams" data-options="is_hover:true"
               href="">Teams</a>
            <ul id="nav_dropdown_teams" class="f-dropdown" data-dropdown-content>
              <li><a href="{% url 'qsic:current_house_teams' %}">Current House Teams</a></li>
              <li><a href="{% url 'qsic:visiting_groups' %}">Visiting Teams</a></li>
              <li><a href="{% url 'qsic:past_groups' %}">Past Teams</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li>
            <a href="{% url 'qsic:about' %}">About QSIC</a>
          </li>
        </ul>
      </section>
    </nav>

    <!-- End Top Bar -->
  {% endblock header %}

  <div class="row">
    <div class="small-12 columns">
      <br>
      {% block main_content %}{% endblock main_content %}
    </div>
  </div>

  {% block footer %}
    <footer class="row">
      <div class="small-12 columns">
        <hr>
        <div class="row">
          <div class="small-12 columns">
            <ul class="inline-list right">
              <li>
                <a href="https://www.facebook.com/queenssecretimprovclub" class="facebook">
                  <i class="fi-social-facebook"></i>
                </a>
              </li>
              <li>© Copyright 2014 QSIC</li>
              <li><a href="{% url 'qsic:about' %}#directions">Directions</a></li>
              <li><a href="#">Donate</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  {% endblock footer %}
{% endblock body_content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/vendor/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
{% block extra_foot %}{% endblock extra_foot %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50932209-1', 'queens-secret.com');
  ga('send', 'pageview');

</script>
</body>
</html>
