{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>QSIC | {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/normalize.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css" />
  <link rel="stylesheet" href="{% static 'css/qsic.css' %}" />
  <link rel="stylesheet" href="{% static 'css/foundation-icons/foundation-icons.css' %}"
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/vendor/modernizr.min.js"></script>
  {% block extra_head %}{% endblock extra_head %}
</head>
<body>
{% block body_content %}
  {% block header %}
    <!-- Navigation -->
    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="{% url 'qsic_index' %}">
                <img  src="{% static 'images/qsic-logo-queen.png' %}">
                <span class="show-for-medium-up">
                  The Queen's Secret Improv Club
                </span>
                <span class="show-for-small">
                  QSIC
                </span>
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
      </section>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li>
            <a href="{% url 'qsic_current_week' %}">Shows</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="{% url 'qsic_performers_current' %}">Performers</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="{% url 'qsic_current_house_teams' %}">Teams</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="{% url 'qsic_about' %}">About QSIC</a>
          </li>
        </ul>
      </section>
    </nav>

    <!-- End Top Bar -->
  {% endblock header %}

  <div class="row">
    <div class="small-12 columns">
      <br>
      {% block main_content %}{% endblock main_content %}
    </div>
  </div>

  {% block footer %}
    <footer class="row">
      <div class="small-12 columns">
        <hr>
        <div class="row">
          <div class="small-12 columns">
            <ul class="inline-list right">
              <li><i class="fi-social-facebook"></i></li>
              <li>© Copyright 2014 QSIC</li>
              <li><a href="#">Directions</a></li>
              <li><a href="#">Donate</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  {% endblock footer %}
{% endblock body_content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/vendor/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
{% block extra_foot %}{% endblock extra_foot %}
</body>
</html>
