{% load cropping %}
{% load static %}

<div class="row">
  <div class="small-12 columns">
    <div class="center panel radius">
      <ul class="example-orbit" data-orbit
          data-options="animation:slide;resume_on_mouseout: true;slide_number: false;timer_speed: 5000; bullets: false;">

        <li>
          {% if event_photo %}
            <a href="#">
              <img src="{% cropped_thumbnail event_photo "banner_crop" %}" alt="{{ event_photo.caption }}" />
            </a>
          {% else %}
            <img src="{% static 'images/qsic_shadow_banner.jpg' %}" alt="The Queen's Secret Improv Club" />
          {% endif %}
        </li>

        {% for performance in event %}
          {% if performance.pgpr %}
            <li class="active">
              {% if performance.pgpr.photo %}
                <img src="{% cropped_thumbnail performance.pgpr "banner_crop" %}" alt="{{ performance.name }}" />
              {% else %}
                <img src="{% static 'images/no_pic_group_banner_crop.jpg' %}" alt="{{ performance.name }}" />
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-6 columns">
    <div class="panel radius callout">

      <h4>{{ event.name }}</h4>

      {% if event.has_performances %}
        <table>
          {% for performace in event %}
            <tr>
              <td>{{ performace.start_dt }}</td>
              <td>
                <a href="{{ performace.url }}">
                  {{ performace.name }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>
          {{ event.description }}
        </p>
      {% endif %}

    </div>
  </div>
  <div class="small-6 columns">
    <div class="panel radius callout">
      Info
    </div>
  </div>
</div>