{% load cropping %}

<div class="row">
  <div class="small-12 columns">
    <div class="center panel radius">
      <ul class="example-orbit" data-orbit data-options="resume_on_mouseout: true;slide_number: false;timer_speed: 3000">

        {% for performance in performance_list %}
          {% if performance.pgpr %}
            <li class="active">
              <img src="{% cropped_thumbnail performance.pgpr "banner_crop" %}" alt="{{ performance.name }}" />
              <div class="orbit-caption">
                <a href="{{ performance.pgpr.url }}">{{ performance.name }}</a>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-6 columns">
    <div class="panel radius callout">

      <h4>Performances</h4>

      <table>
        {% for performace in performance_list %}
        <tr>
          <td>{{ performace.start_dt }}</td>
          <td>
            <a href="{{ performace.url }}">
              {{ performace.name }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>

    </div>
  </div>
  <div class="small-6 columns">
    <div class="panel radius callout">
      Info
    </div>
  </div>
</div>