{% load static %}

<div class="row">
  <div class="small-12 columns">
    <div class="center">
      <img class="th radius" src="/media/Ship31_970x200.jpg" alt="{{ performance.name }}" />
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-6 columns">
    <div class="panel radius callout">
      <h5>Fun In The Sun</h5>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer aliquet laoreet sollicitudin. Nam tristique ut tellus non consectetur. Aenean venenatis, dui id tincidunt imperdiet, eros sapien cursus metus, vel dictum nulla justo posuere felis. Aliquam viverra sagittis eros, id convallis leo placerat sed. Etiam mi nibh, faucibus vel mollis sit amet, scelerisque vel arcu. Aliquam faucibus, dolor sed ornare mattis, lorem purus consectetur nulla, nec faucibus diam metus ac enim. Aenean et molestie neque, vel auctor lectus. In eu viverra sem. Sed faucibus libero a enim ullamcorper, eu commodo turpis rhoncus
      </p>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="panel radius callout">
      <h5>Info</h5>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer aliquet laoreet sollicitudin. Nam tristique ut tellus non consectetur. Aenean venenatis, dui id tincidunt imperdiet, eros sapien cursus metus, vel dictum nulla justo posuere felis. Aliquam viverra sagittis eros, id convallis leo placerat sed. Etiam mi nibh, faucibus vel mollis sit amet, scelerisque vel arcu. Aliquam faucibus, dolor sed ornare mattis, lorem purus consectetur nulla, nec faucibus diam metus ac enim. Aenean et molestie neque, vel auctor lectus. In eu viverra sem. Sed faucibus libero a enim ullamcorper, eu commodo turpis rhoncus
      </p>

      <p>

      </p>
    </div>
  </div>
</div>