{% extends 'core/base.html' %}
{% load cropping %}

{% block title %}{{ object.name }}{% endblock title %}

{% block main_content %}
  <section class="performance_detail">
    <section class="row">
      <article class="small-7 columns">
        <h2>{{ object.name }}</h2>
        <p>
          {{ object.description }}
        </p>
      </article>
      <div class="small-5 columns text-right">
        <ul class="vcard">
          <li>
            {% if object.detail_crop %}
              <img class="show-for-medium-up" src="{% cropped_thumbnail object "detail_crop" %}">
              <img class="show-for-small" src="{% cropped_thumbnail object "detail_crop" scale=0.42 %}">
            {% else %}
              <img class="show-for-medium-up" src="">
              <img class="show-for-small" src="">
            {% endif %}
          </li>
          <li>{{ object }}</li>
        </ul>
      </div>
    </section>
  </section>
{% endblock main_content %}