{% extends 'core/base.html' %}

{% block title %}A Week!{% endblock title %}

{% block main_content %}

  <div class="row">
    <div class="small-12 columns">
      <h3>This week at QSIC..</h3>
    </div>
  </div>

  <div class="row hide-for-small">
    <div class="small-12 columns">
      <table class="small-12 week">
        <thead>
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          {% for day in days %}
            <td>
              {% for item in day %}
                {% if item.type == 'Event' %}
                  <div>
                    <span class="clearfix">
                      {{ item.name  }}
                    </span>
                    <ul class="event_performance_list">
                      {% for p in item %}
                        <li>{{ p.start_dt|time:"h:i a" }} {{ p.name }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% elif item.type == 'Performance' %}
                  <span class="">
                    {{ item.start_dt|time:"h:i a" }} {{ item.name }}
                  </span>
                {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row show-for-small">

  </div>
{% endblock main_content %}