{% extends 'core/base.html' %}

{% block title %}
  {% if cal_week.is_current_week %}
    This week at QSIC...
  {% else %}
    Week of {{ cal_week.start_dt|date:"M. j, Y" }}
  {% endif %}
{% endblock title %}

{% block main_content %}
  <div class="row">
    <div class="small-12 columns">
      <h3>
        {% if cal_week.is_current_week %}
          This week at QSIC...
        {% else %}
          Week of {{ cal_week.start_dt|date:"M. j, Y" }}
        {% endif %}
      </h3>
    </div>
  </div>

  {% include 'events/_week_nav.html' %}

  <div class="row week">
    <div class="small-12 columns">
      {% for day in days %}
        <div class="day">
          <div class="header">
            <span title="{{ day.date|date:"M. d, Y" }}">{{ day.name }}</span>
          </div>
          <div class="content">
            {% include 'events/_day_content.html' %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% include 'events/_week_nav.html' %}

{% endblock main_content %}