{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  {% if cal_week.is_current_week %}
    This week at QSIC...
  {% else %}
    Week of {{ cal_week.start_dt|date:"M. j, Y" }}
  {% endif %}
{% endblock title %}

{% block main_content %}
  <div class="row">
    <div class="small-12 columns">
      <h3>
        {% if cal_week.is_current_week %}
          This week at QSIC...
        {% else %}
          Week of {{ cal_week.start_dt|date:"M. j, Y" }}
        {% endif %}
      </h3>
    </div>
  </div>

  <div class="row week">
    <div class="small-12 columns">
      <div class="nav">
        <a class="nav-left" title="Previous Week" href="{% url 'qsic:week' previous_week.slug %}">
         <i class="fa fa-angle-double-left"></i>
        </a>
      </div>

      {% for day in days %}
        <div class="day">
          <div class="header">
            <span title="{{ day.date|date:"M. d, Y" }}">{{ day.name }}</span>
          </div>
          <div class="content">
            {% include 'events/_day_content.html' %}
          </div>
        </div>
      {% endfor %}

      <div class="nav">
        <a class="nav-right" title="Following Week" href="{% url 'qsic:week' following_week.slug %}">
          <i class="fa fa-angle-double-right"></i>
        </a>
      </div>
    </div>
  </div>

{% endblock main_content %}