Django==1.6.5
Pillow==2.4.0
South==0.8.4
beautifulsoup4==4.3.2
dj-database-url==0.3.0
django-image-cropping==0.8.2
django-zurb-foundation==5.1.1
easy-thumbnails==2.0.1
ecdsa==0.11
freezegun==0.1.17
gunicorn==18.0
git+https://github.com/logston/py3s3.git
psycopg2==2.5.2
pycrypto==2.6.1
python-dateutil==2.2
pytz==2014.2
selenium==2.41.0
six==1.6.1
