Django==1.6.2
Fabric==1.8.3
Pillow==2.2.1
South==0.8.4
beautifulsoup4==4.3.2
dj-database-url==0.3.0
django-zurb-foundation==5.1.1
easy-thumbnails==1.4
ecdsa==0.11
freezegun==0.1.15
gunicorn==18.0
paramiko==1.13.0
psycopg2==2.5.2
py3s3==0.1.0
pycrypto==2.6.1
python-dateutil==2.2
pytz==2014.2
selenium==2.41.0
six==1.6.1
