{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify static %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'js/it_admin.js' %}"></script>
{% endblock %}

{% block object-tools-items %}
  {% if has_it_parser %}
  <li>
    {% if original.type == 'Group' %}
      <a href="{% url 'groups:load_group_from_it' original.id %}" class="historylink">
    {% elif original.type == 'Performer' %}
      <a href="{% url 'performers:load_performer_from_it' original.id %}" class="historylink">
    {% endif %}
      Load From Improvteams.com
    </a>
  </li>
  {% endif %}
  {{ block.super }}
{% endblock %}