nav {
    a#root_link {
        background-image: url('/static/images/qsic-logo-queen-height-45px.png');
        background-repeat: no-repeat;
        background-position: left;

        span {
            padding-left: 50px;
        }
    }

    ul.f-dropdown li {
        width: 100%;
    }
}