/* line 3, _week.scss */
.week .day .event {
  border-bottom-color: #aaaaff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #eeeeee;
  text-align: center;
}
/* line 12, _week.scss */
.week .day .event .title {
  font-size: 14px;
  font-weight: bold;
  background-color: #aaaaff;
  padding: 5px;
}
/* line 19, _week.scss */
.week .day .event ul {
  list-style: none;
  margin: 0px 0px 0px 10px;
  display: table;
}
/* line 23, _week.scss */
.week .day .event ul li {
  display: table;
  padding: auto 10px;
}
/* line 32, _week.scss */
.week .day .event .performance {
  font-size: 12px;
}
/* line 39, _week.scss */
.week .day .dark {
  color: #777777;
  font-weight: bold;
  font-size: 10px;
}
