footer {
    ul {
        font-size: 12px;
        li {
            vertical-align: baseline;
            a {

                i {
                    display:inline-block;
                    font-size: 24px;
                }

                &.facebook {
                    position: relative;
                    top: -10px;
                }
            }
        }
    }
}