{% extends 'base.html' %}
{% load static %}
{% load cropping %}

{% block title %}{{ group_list_type }}{% endblock title %}

{% block main_content %}
  <section class="group_list">
    <h2>{{ group_list_type }}</h2>

    <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1 text-center">
      {% for group in object_list %}
        <li>
          <a title="{{ group.name }}" href="{{ group.url }}">
            {% if group.photo %}
              <img class="radius th" src="{% cropped_thumbnail group 'banner_crop' %}">
            {% else %}
              <img class="radius th" src="{% static 'images/no_pic_group_banner_crop.jpg' %}">
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>

  </section>
{% endblock main_content %}