/* line 5, _nav.scss */
.top-bar-section .title-area .name h1 a {
  padding: 0;
  padding-right: 15px;
  display: inline-block;
}
/* line 10, _nav.scss */
.top-bar-section .title-area .name h1 a img {
  height: 45px;
  vertical-align: bottom;
}

/* line 22, _week.scss */
.week {
  font-size: 0;
}
/* line 25, _week.scss */
.week .day {
  margin: 0;
  padding: 1px;
  width: 138px;
  min-height: 300px;
  display: inline-block;
}
/* line 32, _week.scss */
.week .day .header {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  border-bottom-color: #aaaaff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-width: 2px;
  margin-bottom: 5px;
}
/* line 42, _week.scss */
.week .day .content {
  display: table;
  width: 100%;
}
/* line 46, _week.scss */
.week .day .content ul {
  list-style: none;
  margin: 0;
  font-size: 12px;
}
/* line 51, _week.scss */
.week .day .content ul .event {
  border-left-color: #aaaaff;
  border-left-style: solid;
  border-left-width: 4px;
  text-align: center;
  margin-bottom: 5px;
}
/* line 58, _week.scss */
.week .day .content ul .event .title {
  font-size: 14px;
  font-weight: bold;
}
/* line 63, _week.scss */
.week .day .content ul .event .performance {
  text-align: left;
  padding-left: 5px;
  line-height: 16px;
}
/* line 6, _week.scss */
.week .day .content ul .event .performance .time {
  display: block;
}
/* line 10, _week.scss */
.week .day .content ul .event .performance a {
  padding-left: 10px;
}
/* line 70, _week.scss */
.week .day .content ul .performance {
  text-align: left;
  padding-left: 5px;
  line-height: 16px;
  margin-bottom: 5px;
}
/* line 6, _week.scss */
.week .day .content ul .performance .time {
  display: block;
}
/* line 10, _week.scss */
.week .day .content ul .performance a {
  padding-left: 10px;
}
/* line 76, _week.scss */
.week .day .content .dark {
  text-align: center;
  font-size: 12px;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
/* line 83, _week.scss */
.week .day .content .dark img {
  height: 10px;
  width: 10px;
}

/* line 94, _week.scss */
.week-nav .nav img, .week-nav .previous img, .week-nav .following img {
  height: 10px;
  width: 10px;
}
/* line 104, _week.scss */
.week-nav .following {
  float: right;
}

/* line 2, _footer.scss */
footer ul {
  font-size: 12px;
}
/* line 5, _footer.scss */
footer ul li i {
  font-size: 24px;
  vertical-align: text-bottombottom;
}

/* line 2, _performer_detail.scss */
section.performer_detail img {
  background-color: #000000;
  border: 1px solid red;
  width: 275px;
  height: 275px;
}

/* line 3, _group_list.scss */
section.house_team_list ul li {
  padding-bottom: 5px;
}
/* line 6, _group_list.scss */
section.house_team_list ul li img {
  width: 800px;
  height: 150px;
}
