.top-bar-section {
    .title-area {
        .name {
            h1 a {
                padding: 0;
                padding-right: 15px;
            }

            a img {
                height: 45px;
                margin: 0 auto;
                vertical-align: bottom;
            }
        }
    }
}