.top-bar-section {
    .title-area {
        .name {
            h1 {
                a {
                    padding: 0;
                    padding-right: 15px;
                    display: inline-block;

                    img {
                        height: 45px;
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}