{% extends 'core/base.html' %}

{% block title %}About{% endblock title %}

{% block main_content %}
<h2>About QSIC</h2>

<div class="row">
  <div class="small-12 columns">
    <p>
      The QSIC is a curated improv cooperative, constantly seeking to add the best
      indie improv teams and performers in NYC to its show lineups.
    </p>
    <p>
      The Queen's Secret Improv Club is an improv comedy collective,
      comprised of invited indie teams and QSIC auditioned House teams.
      Performing regularly in the burgeoning comedy capital of Queens known as Long Island City,
      the QSIC's mission is to collect and exhibit only the finest specimens in the genus of live,
      spontaneous comedy. The QSIC offers club memberships to theater-goers in lieu of individually
      ticketed shows. Members of The Club enjoy free admission to shows, as well as access to drink
      specials.
    </p>
  </div>
</div>

<br>
<h4 id="directions">Directions</h4>

<div class="row  panel callout radius">
  <div class="small-6 columns">
    <iframe width="450" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" margin="0"
            src="https://www.google.com/maps/ms?msa=0&amp;msid=211357761262809528000.0004e9324ce303072d259&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=40.750313,-73.942666&amp;spn=0.013004,0.017123&amp;z=15&amp;output=embed">
    </iframe>
  </div>
  <div class="small-6 columns">
    <div class="row">
      <div class="small-12 columns">
        <ul class="vcard" style="border: 0px;">
          <li class="fn"><strong>The Queen's Secret Improv Club</strong></li>
          <li class="street-address">44-02 23rd St.</li>
          <li class="locality">Long Island City</li>
          <li><span class="state">NY</span>, <span class="zip">11101</span></li>
          <li><a href=""></a> </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <h5>How to get here</h5>
        <ul>
          <li>Off the 7, E, M and G at Courthouse/23st, and real close to the N, W, and R at Queensboro Plaza.</li>
          <li>Building with green "Caffeina" sign and a neon red and white sign that says "School of Ballet".</li>
          <li>See <a href="http://www.secrettheatre.com">www.secrettheatre.com</a> for more information.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>
<h4>QSIC Contact Information</h4>

<div class="row">
  <div class="small-12 columns">
    <p>
      To reach Frank Angelini (Artistic Director), please email:
      <a href="mailto:QueensSecretLIC@gmail.com">QueensSecretLIC@gmail.com</a>
    </p>
  </div>
</div>

<br>

<div class="row">
  <div class="small-12 columns">
    <p>
      To reach Lauren Brickman (Executive Administrator) Athos Cakiades (Special Projects and Development), or Paul Logston (Website Administrator), please email:
      <a href="QSICgeneral@gmail.com">QSICgeneral@gmail.com</a>
    </p>
  </div>
</div>

<br>

<div class="row">
  <div class="small-12 columns">
    <p>
      To book shows online, please click <a href="https://docs.google.com/forms/d/1X2eP4d0fSL8rCVBJ5cbPBLCKVHWzujtQZmPNClKf5pA/viewform">here</a>.
    </p>
  </div>
</div>

{% endblock main_content %}
