{% extends 'core/base.html' %}
{% load cropping %}

{% block title %}{{ group }}{% endblock title %}

{% block main_content %}
  <section class="group_detail">
    <section class="row">
      <article class="small-12 columns">
        {% if group.detail_crop %}
          <img class="show-for-medium-up radius th" src="{% cropped_thumbnail group "detail_crop" %}">
          <img class="show-for-small radius th" src="{% cropped_thumbnail group "detail_crop" scale=0.42 %}">
        {% else %}
          <img class="show-for-medium-up radius th" src="">
          <img class="show-for-small radius th" src="">
        {% endif %}
      </article>

      <article class="small-12 columns">
        <h2>{{ group.name }}</h2>
      </article>

      <article class="small-12 columns">
        <p>
          {{ group.bio }}
        </p>
      </article>
    </section>

{% endblock main_content %}